<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<button mat-raised-button class="back-btn" color="primary" routerLink="/">
  <mat-icon>arrow_back_ios</mat-icon>Back to Customer List
</button>

<form [formGroup]="form" class="form-wrapper" (ngSubmit)="onSubmit(form.value)">
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput formControlName="firstName" data-e2e="firstName" />
    @for (err of this.form.get('firstName')?.errors | toErrorMessages; track
    $index) {
    <mat-error>{{ err }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="lastName" data-e2e="lastName" />
    @for (err of this.form.get('lastName')?.errors | toErrorMessages; track
    $index) {
    <mat-error>{{ err }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Date Of Birth</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="dateOfBirth"
      data-e2e="dateOfBirth"
    />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    @for (err of this.form.get('dateOfBirth')?.errors | toErrorMessages; track
    $index) {
    <mat-error>{{ err }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Phone Number</mat-label>
    <input matInput formControlName="phoneNumber" data-e2e="phoneNumber" />
    @for (err of this.form.get('phoneNumber')?.errors | toErrorMessages; track
    $index) {
    <mat-error>{{ err }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" data-e2e="email" />
    @for (err of this.form.get('email')?.errors | toErrorMessages; track $index)
    {
    <mat-error>{{ err }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Bank Account Number</mat-label>
    <input
      matInput
      formControlName="bankAccountNumber"
      data-e2e="bankAccountNumber"
    />
    @for (err of this.form.get('bankAccountNumber')?.errors | toErrorMessages;
    track $index) {
    <mat-error>{{ err }}</mat-error>
    }
  </mat-form-field>

  <button
    mat-raised-button
    color="accent"
    type="submit"
    [disabled]="form.invalid"
  >
    Submit
  </button>
</form>
